.applyEvents {
  width: 47vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  /* border-radius: 10px; */
}

.nono {
  background-color: transparent;
}

.wrapEvents {
  height: 43vh;
  overflow-y: scroll;
}

.eachEvents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 45vw;
  height: 13vh;
  background-color: #fefefe;
  margin-bottom: 1rem;
}

.noEvents {
  width: 47vw;
  height: 43vh;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('@/assets/img/noEvents.jpeg');
  text-align: center;
  line-height: 28vh;
  font-size: 1.2rem;
  font-weight: 600;
}

.infos {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}

.verticalBar {
  width: 1vw;
  height: 13vh;
  background-color: #7aa6ff;
  margin-right: 1rem;
}

.title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  width: 9vw;
}

.info {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 500;
}

.eventsApplyBtn {
  width: 4rem;
  height: 2.5rem;
  font-weight: 600;
  background-color: var(--btn-color);
  margin-left: 4rem;
}

.eventsCancelBtn {
  width: 4rem;
  height: 2.5rem;
  font-weight: 600;
  background-color: var(--btn-cancel-color);
  margin-left: 4rem;
}

.upperLine {
  display: flex;
  justify-content: space-between;
}
