.detailPartyView {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detailRow {
  display: flex;
  justify-content: space-evenly;
}

.rankComponent {
  width: 40.1vw;
  height: 45vh;
  background-color: #fefefe;
  /* border-radius: 10px; */
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%); */
  box-shadow: 2px 2px 2px rgba(34, 70, 142, 0.307);
}

.galleryView {
  display: flex;
  width: 45vw;
  height: 45vh;
  background-color: #fefefe;
  /* border-radius: 10px; */
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%); */
  box-shadow: 2px 2px 2px rgba(34, 70, 142, 0.307);
}

.gallery {
  height: 42vh;
  overflow-y: scroll;
  margin: 6px;
}

.members {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 45vh;
  padding: 0 1vw;
}

.memberH1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 1.5rem;
}

.memberSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
  justify-content: flex-start;
  text-align: center;
}

.galleryView {
  height: 45vh;
}

.memberImg {
  width: 6vw;
  margin: 0 1rem;
}

.nickname {
  font-size: 1.2rem;
  font-weight: 600;
}

.rankList {
  overflow-y: scroll;
  margin: 1rem;
  max-height: 200px;
}

.imgRanking {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

.rating-value {
  justify-content: center;
  align-items: center;
}

.point-box {
  width: 3rem;
}
