.wrapParties {
  height: 34vh;
  overflow-y: scroll;
}

.invitingBtns {
  display: flex;
  justify-content: flex-end;
}

.noParty {
  text-align: left;
  font-size: 1.3rem;
  margin-left: 2rem;
}

.makeParty,
.joinParty {
  margin-right: 2rem;
  background-color: var(--btn-color);
  box-shadow: var(--btn-shadow);
  width: 7vw;
  height: 5vh;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 5px;
}

.makeParty {
  background-color: #4be689;
}

.invitingBtns button:hover {
  cursor: pointer;
}

.parties {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.parties:hover {
  cursor: pointer;
}

.invitingParty {
  width: 38vw;
  height: 16vh;
  border: 1px solid #a3a3a3;
  border-radius: 10px;
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-start;
}

.invitingImgSec {
  width: 10vw;
  align-self: center;
}

.invitingImg {
  width: 7vw;
}

.invitingInfo {
  /* width: 26rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.partyInfo {
  display: flex;
}

.partyName {
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.partySports {
  align-self: center;
  font-size: 1rem;
  margin-top: 0.5rem;
  font-weight: 600;
  margin-left: 1rem;
}

.partyContent {
  margin-top: 1rem;
  display: flex;
  width: 27vw;
  overflow-x: scroll;
}

.memberImg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
