.nameCard {
  display: flex;
  align-items: center;
}

.halfSize {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  position: relative;
  width: 8vw;
}

.badge {
  position: absolute;
  width: 4vw;
  margin-right: 6vw;
  margin-top: -1vh;
  height: 4vh;
  font-size: 1.5rem;
  text-align: center;
  line-height: 4vh;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--btn-color);
}

.imageSec {
  width: 14vw;
}

.leaderSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-grow: 2;
  background-color: #172e5d;
  background-image: url('../img/imgSrcArchive/withandout2-removebg-preview.png');
  background-size: contain;
  background-position-x: 180px;
  padding: 2vw;
}

.leaderSec {
  font-size: 1.2rem;
  color: #fefefe;
}

.cardName {
  font-weight: 600;
  font-size: 2rem;
}

.leaderSec div {
  margin-bottom: 1vh;
}
