main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

.mainRow {
  display: flex;
  justify-content: space-evenly;
}

.motiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24vw;
  height: 43vh;
  background-image: url('../../assets/img/running.jpeg');
  background-color: rgba(255, 255, 255, 0.9);
  background-size: cover;
  background-position: 60%;

  text-align: center;
  position: relative;
  isolation: isolate;
  /* /* border-radius: 10px; */

  box-shadow: 2px 2px 2px rgba(34, 70, 142, 0.307);
}

.subSen {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 1rem;
}
.mainSen {
  padding-top: 0.5rem;
  line-height: 1.5;
  font-size: 1.7rem;
}

.motiv::after {
  content: '';
  position: absolute;
  background-color: white;
  z-index: -1;
  inset: 0;
  opacity: 0.6;
}

.weatherSec,
.nameCard,
.calendarView,
.invitingView {
  width: 20vw;
  height: 43vh;
  background-color: #fefefe;
  /* border-radius: 10px; */
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 25%); */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameCard {
  width: 42vw;
  height: 36vh;
  flex-direction: row;
  justify-content: flex-start;
  box-shadow: none;
  border-radius: 0px;
}

.weatherSec {
  align-items: center;
}

.weather {
  width: 12rem;
  height: 12rem;
}

.loca {
  font-size: 1.5rem;
  font-weight: 600;
}

.tmp,
.reh {
  margin-top: -1rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.reh {
  margin-top: 1rem;
}

.invitingView {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 42vw;
  height: 53vh;
  margin-top: -6vh;
  background-color: #fefefe;
}

.invitedText {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  margin-left: 2vw;
  margin-bottom: 1vh;
}

.halfSize {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.imageSec {
  align-items: center;
  width: 18vw;
}

.cardImage {
  width: 14vw;
  border-radius: 50%;
}

.calendarView {
  width: 54vw;
  height: 47vh;
  background-color: transparent;
  box-shadow: none;
}

.infoSec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  flex-grow: 2;
  background-color: #172e5d;
  background-size: cover;
  background-position-x: 70px;
  padding: 2vw;
  color: #fefefe;
  font-weight: 600;
}

.infoSec div {
  margin: 0.5vh 0;
}

.cardName {
  font-size: 1.5rem;
}

.selfIntro {
  display: flex;
}
.selfIntro input {
  color: #e5e5e5;
}

.selfIntro input::placeholder {
  color: #e5e5e5;
}

.modifyBtn {
  width: 5vw;
  height: 3vh;
  margin-left: 1vw;
  background-color: #fefefe;
  color: black;
}
