nav {
  width: 6vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapIcons {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alarms {
  margin-left: 9vw;
  margin-top: 3vh;
}

.wrapIcons:hover {
  cursor: pointer;
}

.icons {
  width: 2.5rem;
  height: 2.5rem;
}
