.partyList {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.disable {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.6);
}

.parties,
.partyInfo {
  width: 45vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.parties {
  padding-top: 3vh;
}

.partyInfo {
  justify-content: space-between;
}

.parties {
  border-radius: 10px;
  background-color: #fefefe;
  box-shadow: var(--btn-shadow);
}

.partyWrap {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  width: 85%;
  height: 15vh;
  border: 0.5px solid #a3a3a3;
  border-radius: 10px;
  margin-bottom: 1vh;
}

.partyWrap:hover {
  cursor: pointer;
}

.partyImage {
  margin: 0 2vw;
  height: 10vh;
  border-radius: 50%;
}

.partyEachInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 26vw;
}

.partyName {
  font-size: 2rem;
  font-weight: 600;
}

.sizeName {
  font-size: 1.1rem;
  font-weight: 400;
  padding-right: 0.5rem;
}

.partySize {
  font-size: 1.3rem;
  font-weight: 600;
}

.partySports {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
}

/* .eachParties {
  position: relative;
} */

.partyFocus {
  border: 2px solid #7aa6ff;
}

/* .partyHidden {
  visibility: hidden;
}

.partyChecked {
  visibility: visible;
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  top: -1vw;
  left: 1vw;
  text-align: center;
  line-height: 3.2vw;
  font-size: 2.5rem;
  font-weight: 800;
  color: #fefefe;
  background-color: #7aa6ff;
} */

.joinPartyWrap {
  display: flex;
  flex-direction: column;
  height: 45vh;
  background-color: #fefefe;
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
}

.clickPartyInfo {
  display: flex;
  justify-content: space-around;
  height: 30vh;
}

.clip {
  width: 4vw;
  height: 13vh;
  background-color: var(--btn-color);
}

.clickedImage {
  align-self: center;
  height: 20vh;
}

.partyEaches {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clickedSize {
  font-size: 2rem;
  margin-bottom: 2.5vh;
  font-weight: 700;
}

.sizeName {
  margin-right: 3rem;
}

.clickedContent {
  font-size: 1.6rem;
  margin-left: 3vw;
}

.invitation {
  z-index: 100;
  position: absolute;
  width: 30vw;
  height: 40vh;
  background-color: rgb(190, 196, 210);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.inviInfo {
  text-align: center;
}

.inviInfo h3 {
  margin-top: 3vh;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3vh;
}

.inviSec {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 2vh;
  margin-left: 2.5vw;
}

.inviSec > span {
  margin-left: 1vw;
}

.inviMargin {
  font-weight: 600;
}

.inviContent {
  width: 80%;
  height: 8vh;
  margin: 2vh 0;
  background-color: #fefefe;
  border-radius: 5px;
}

.applyBtn {
  margin-top: 1vh;
  width: 7vw;
  height: 4vh;
  background-color: var(--btn-color);
  font-size: 1rem;
  font-weight: 600;
}

.outBtn {
  background-color: var(--btn-cancel-color);
}

.nameCard {
  height: 34vh;
  background-color: #fefefe;
  box-shadow: var(--btn-shadow);
}

.partyBtns {
  display: flex;
  justify-content: flex-end;
}

.partyBtns button {
  width: 10vw;
  height: 5vh;
  background-color: #7aa6ff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: var(--btn-shadow);
}

.partyBtns button:nth-child(2) {
  margin-left: 2vw;
  background-color: #ffb84c;
}
